/* From green to blue */
.colorFamily1-1{
    background:#d9ed92;
}
.colorFamily1-2{
    background:#b5e48c;
}
.colorFamily1-3{
    background:#99d98c;
}
.colorFamily1-4{
    background:#76c893;
}
.colorFamily1-5{
    background:#52b69a;
}
.colorFamily1-6{
    background:#34a0a4;
}
.colorFamily1-7{
    background:#168aad;
}
.colorFamily1-8{
    background:#1a759f;
}
.colorFamily1-9{
    background:#1e6091;
}
.colorFamily1-10{
    background:#184e77;
}
/* From purple to blue to green */
.colorFamily2-1{
    background:#7400b8;
}
.colorFamily2-2{
    background:#6930c3;
}
.colorFamily2-3{
    background:#5e60ce;
}
.colorFamily2-4{
    background:#5390d9;
}
.colorFamily2-5{
    background:#4ea8de;
}
.colorFamily2-6{
    background:#48bfe3;
}
.colorFamily2-7{
    background:#56cfe1;
}
.colorFamily2-8{
    background:#64dfdf;
}
.colorFamily2-9{
    background:#72efdd;
}
.colorFamily2-10{
    background:#80ffdb;
}
/* From dark red to light red */
.colorFamily3-1{
    background:#590d22;
}
.colorFamily3-2{
    background:#800f2f;
}
.colorFamily3-3{
    background:#a4133c;
}
.colorFamily3-4{
    background:#c9184a;
}
.colorFamily3-5{
    background:#ff4d6d;
}
.colorFamily3-6{
    background:#ff758f;
}
.colorFamily3-7{
    background:#ff8fa3;
}
.colorFamily3-8{
    background:#ffb3c1;
}
.colorFamily3-9{
    background:#ffccd5;
}
.colorFamily3-10{
    background:#fff0f3;
}