{{ define "menu" }}

{{if ne .Login ""}}
<div class="nav">

  <nav class="m-3 p-3 navbar navbar-expand-sm navbar-light w-100">

    <div class="container-fluid">

   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse boldFont" id="navbarApp">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/"><i class="bi-house-fill"></i> Home</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/survey/generator"><i class="bi-book-fill"></i> Generator</a></li>
          <!-- Show all surveys (if exist) -->
          {{if gt (len .Surveys) 0}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Survey
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">        
                  {{range .Surveys}}
                    <li><a class="dropdown-item" href="/survey/research/{{ rowID .ID}}">{{.Title}}</a></li>
                  {{end}}      
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Report
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">        
                  {{range .Surveys}}
                    <li><a class="dropdown-item" href="/survey/report/{{ rowID .ID}}">{{.Title}}</a></li>
                  {{end}}      
            </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Download
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">        
                  {{range .Surveys}}
                    <li><a class="dropdown-item" target="_blank" href="/survey/download/{{ rowID .ID}}">{{.Title}}</a></li>
                  {{end}}      
            </ul>
            </li>
          {{end}}
        </ul>

        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{.Avatar}}" alt="avatar" width="30px" height="30px" /> {{.Login}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                    <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
          
         
        </form>

      </div>

    </div>

  </nav>

</div>
{{ end }}

{{ end }}
