{{ define "surveyGenerator_R" }}
<h2>Create as many rule as you want</h2>
<div class="row mb-3">
    <div class="col-sm">
        <input type="text" class="form-control" name="ruleValue" id="ruleValue" />
        <span class="fw-bolder fst-italic fs-6" id="ruleValueLabel"><small><small><small>trigger value</small></small></small></span>
    </div>
    <div class="col-sm text-end">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="addRuleBtn" data-bs-toggle="dropdown" aria-expanded="false">
            Add
            </button>
            <ul class="dropdown-menu" aria-labelledby="addRuleBtn">
            <li><a class="dropdown-item" href="#" id="addLower"> Lower than</a></li>
            <li><a class="dropdown-item" href="#" id="addEqual"> Equal to</a></li>
            <li><a class="dropdown-item" href="#" id="addGreater"> Greater than</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm" id="formContenerRules">

    </div>
</div>

<div class="row">
    <div class="col-sm text-end">
        <button type="button" class="btn btn-primary mb-3" id="secondPrevious">Previous</button>
        <button type="submit" class="btn btn-primary mb-3" id="save">Save</button>
    </div>
</div>
{{end}}